/* styles reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
a {
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

:root {
  --color-primary: #199de4;
  --color-secondary: #fff;
  --color-tertiary: #fafcfe;
  --color-forth: rgb(51, 48, 48);
  --shadow-color: rgb(145, 142, 142, 0.5);
  --paragraph-font-family: 'Open Sans';
  --title-font-family: 'Lexend';
  --paragraph-font-size: 20px;
}
/* general layout */
body {
  font-size: var(--paragraph-font-size);
  font-family: var(--paragraph-font-family), system-ui, sans-serif;
  font-weight: 500;
}
.layout {
  display: flex;
  flex-direction: column;
}
header,
main,
footer {
  padding: 60px;
}

h1,
h2,
h3 {
  font-family: var(--title-font-family), system-ui, sans-serif;
}

/* header syles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(170deg, #199de4 60%, #fff 60%);
}

.my-portrait {
  position: relative;
  max-width: 420px;
  height: auto;
  text-align: center;
}
.my-portrait img {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 10px var(--shadow-color);
}

.my-portrait p {
  position: absolute;
  color: var(--color-secondary);
  font-family: var(--title-font-family);
  font-size: 3rem;
  bottom: 5px;
  width: 100%;
}

.about-me {
  background-color: var(--color-tertiary);
  height: min-content;
  padding: 30px;
  position: relative;
  max-width: 1000px;
  box-shadow: 0px 4px 10px var(--shadow-color);
}

.about-me h1 {
  margin-bottom: 1.5rem;
}

.about-me .links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.links a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}
.about-me .links {
  margin-top: 2rem;
  margin-left: 60%;
}

.about-me a:hover {
  color: var(--color-primary);
}

/* content styles */
.content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 50px;
  column-gap: 40px;
}

.project {
  box-shadow: 0 4px 5px var(--shadow-color);
}
.project a svg {
  width: 25px;
  height: auto;
}
.description {
  padding: 20px;
  min-height: fit-content;
  font-size: 18px;
}
.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.project-name a {
  color: inherit;
}
.project-name a:hover {
  color: var(--color-primary);
}

.project-name svg:hover {
  fill: var(--color-primary);
}
.project-name div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

/* footer styles */

footer {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  justify-content: space-around;
}

footer div:first-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer img {
  width: 100%;
}

footer svg {
  width: 25px;
  min-width: 25px;
  fill: var(--color-secondary);
}

footer .links {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.phone a,
.email a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: inherit;
}
.email a:hover,
.phone a:hover {
  color: var(--color-tertiary);
  opacity: 0.9;
  text-decoration: underline;
}

.email svg:hover,
.phone svg:hover {
  fill: var(--color-tertiary);
  fill-opacity: 0.9;
}
footer a:hover {
  color: var(--color-forth);
}

@media (min-width: 768px) and (max-width: 1000px) {
  header {
    display: block;
    position: relative;
    margin-bottom: 150px;
    padding-top: 200px;
  }
  .about-me {
    z-index: 0;
    max-width: 700px;
    margin: auto;
  }
  .about-me p {
    clear: none;
  }
  .for-shift {
    width: clamp(300px, 60vw, 360px);
    height: 50vw;
    min-height: 330px;
    max-height: 355px;
    float: left;
  }
  .my-portrait {
    z-index: 1;
    position: absolute;
    transform: translate(-10px, -100px);
    width: clamp(380px, 40vw, 400px);
  }

  .my-portrait p {
    top: 10px;
    right: 0;
    transform: translateX(60%);
  }

  footer {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header,
  .about-me,
  main,
  footer {
    display: flex;
    flex-direction: column;
  }

  header {
    background: linear-gradient(170deg, #199de4 40%, #fff 40%);
  }

  .about-me {
    background-color: var(--color-secondary);
    box-shadow: none;
    justify-content: center;
    align-items: center;
  }

  .about-me > div:last-child {
    display: flex;
    flex-direction: column;
  }

  .about-me .links {
    margin: 0;
  }

  main {
    padding: 20px;
    align-items: center;
  }

  footer {
    margin-top: 20px;
    padding: 0;
  }

  footer div:first-child {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
